
<center><font size=+2>Table of Contents</font></center>
<ul>
  <li><a href="#introduction">Introduction</a>
  <ul>
    <li><a href="#street">The Street</a>
    <li><a href="#lounge">The Lounge</a>
    <li><a href="#arch">The Arch</a>
    <li><a href="#pier">The Pier</a>
  </ul>
  <li><a href="#main">Main Area</a>
  <ul>
    <li><a href="#blood">Brother Blood</a>
    <li><a href="#soul">Brother Soul</a>
    <li><a href="#big">Brother Big</a>
    <li><a href="#jerks">The Jerks</a>
  </ul>
</ul>

<a name="introduction"></a><h1>Introduction</h1>

This walkthrough is based on the TEST commands I used. Inform 7 is incredibly handy for that! Of course, I went through it by hand, because text adventures are made with love and care.<p />

The commands below aren't the only commands that work. However, synonyms should work, too. This is a no-frills walkthrough and, of course, it may spoil a lot. It also does not tell you how to get past the Character or the Terminal.

<p>A big-picture map of the walkthrough is available in PDF format. It should be included in with the main file bundle.

<p>The most likely errors in this walkthrough will be if I have specified the wrong dialogue choices. But these will never kill you, and you can always just run through them all.

<a name="street"></a><h2>The Street</h2>
First, there's no real puzzle to get past Smart Street. Talk to Guy, play a few games..<br />
>you only need to play one.<p />

>talk to guy<br />
>1<br />
>1<br />
>1<br />
>1<br />
>1<br />
>1<br />
>play nim<br />
>in<br />

<a name="lounge"></a>
<h2>The Lounge</h2>
The lounge has a simple puzzle, too.<p />

>get stick and screw<br />
>put screw in stick<br />
>climb chair<br />
>hit hatch<br />

<a name="arch"</a>
<h2>The Arch</h2>
Getting past the arch is a bit trickier, but still, there are only so many objects.<p />

>w<br />
>give token<br />
>dig dirt<br />
>e<br />
>e<br />
>dig earth<br />
>read burden<br />
>w<br />
>w<br />
>talk to weasel<br />
>1<br />
>2<br />
>2<br />
>2<br />
>2<br />
>2<br />
>2<br />
>y<br />
>2<br />
>2<br />
>give burden<br />
>e<br />
>give burden<br />
>n<br />

<a name="pier">
<h2>The Pier</h2>
You need four demerits/boo ticketies to get past the Howdy Boy.<p />
>e<br />
>sleep<br />
>z<br />
>z<br />
>z (1)<br />
>e<br />
>get bear<br />
>s<br />
>talk to punch<br />
>1<br />
>2<br />
>2<br />
>2<br />
>3<br />
>n (2)<br />
>talk to punch<br />
>2<br />
>2<br />
>talk to lily<br />
>1<br />
>1<br />
>1<br />
>1<br />
>1<br />
>give wine to lily (3)<br />
>n<br />
>w<br />
>give bear to fritz (4)<br />
>w<br />
>give paper to boy<br />
>n<br />

<p><b><i>Note: you can get a demerit by dropping the tickety. That means one less demerit to get the hard way. You can also say hello and goodbye to Lily twice, and that will creep her out, getting the Stool Toad after you. You can also go the wrong way in the Joint Strip several times.</i></b>

<a name="main">
<h1>Main Area</h1>

Now you need to help the three brothers guarding Freak Control. You can work in any order, but Brother Blood has the fewest steps, and helping Blood and Soul completes part of the Big quest.

<a name="blood">
<h2>Brother Blood</h2>

Brother Blood has the fewest steps.<p />

>n<br />
>n<br />
>w<br />
>talk to buddy<br />
>1<br />
>1<br />
>1<br />
>s<br />
>s<br />
>w<br />
>w<br />
>n<br />
>x hedge<br />
>y (note: this helps with the Brother Big quest later)<br />
>s<br />
>e<br />
>e<br />
>e<br />
>give tag<br />
>e<br />
>give seed to monkey<br />
>give contract to monkey<br />
>w<br />
>w<br />
>w<br />
>w<br />
>w<br />
>give blossom to faith<br />
>e<br />
>e<br />
>e<br />
>n<br />
>n<br />
>give mind to brother blood<br />
>s<br />
>s (Obviously you don't have to, this centers us by the Jerks where we started)<br />

<a name="soul">
<h2>Brother Soul</h2>
Brother Soul has the next-fewest steps.<p />
>n<br />
>e<br />
>get string (not necessary here but saves turns)<br />
>in<br />
>talk to penn<br />
>1<br />
>2<br />
>2<br />
>y<br />
>2<br />
>2<br />
>out<br />
>w<br />
>s<br />
>s<br />
>e<br />
>give weed to fritz<br />
>w<br />
>n<br />
>n<br />
>e<br />
>in<br />
>give penny to penn<br />
>out<br />
>w<br />
>w<br />
>put pot in vent<br />
>x vent<br />
>open vent<br />
>e<br />
>n<br />
>give light to brother soul<br />
>s<br />
>s<br />

<a name="big">
<h2>Brother Big</h2>
Brother Big presents the (ahem) biggest problem. You already solved part of his quest when you got through Brother Blood, because you need to get behind the Pyramid.
>w<br />
>w<br />
>put string in hole<br />
>n<br />
>n<br />
>y<br />
>get sound safe<br />
>x finger<br />
>s<br />
>s<br />
>e<br />
>e<br />
>n<br />
>e<br />
>e<br />
>open safe<br />
>talk to story fish<br />
>get poetic wax<br />
>w<br />
>n<br />
>put wax in machine<br />
>wear trick hat<br />
>s<br />
>w<br />
>s<br />
>e<br />
>give hat to sly moore<br />
>w<br />
>w<br />
>w<br />
>w<br />
>in<br />
>give trap rattle to fool<br />
>out<br />
>e<br />
>e<br />
>n<br />
>n<br />
>give trade to brother big<br />
>s<br />
>s<br />

<a name="jerks">
<h2>The Jerks</h2>
Now you just need to get to Freak Control. Those Jerks may be where it's at. This is a logic puzzle you can solve by brute force (poke each jerk with each possible accusation until they shy away from you. That's the right one.) or you can read the Labor Child's Finger Index. Everything is scrambled randomly each game. You also have plenty of ways to cheat. LISTEN tracks if you are demoralizing the jerks.

<p />Each letter in the Finger Index refers to a specific jerk, and this can be deduced logically.
<ol>
<li>J is Dandy Jim, because that's the only jerk with J.
<li>M is Warm Luke or Dandy Jim, so it's Warm Luke.
<li>D is Warner Dyer or Dandy Jim, so it's Warner Dyer.
<li>K is Warm Luke or Paul Kast, so it's Paul Kast.
<li>T is Paul Kast or Wash White, so it's Wash White.
<li>L is Warm Luke, Paul Kast or Silly Boris, so it's Silly Boris.
<li>The remaining one must be Cain Reyes.
</ol>

Hopefully the rest is denouement.<p />

>n<br />
>n<br />
>drink quiz pop<br />
>n<br />
>1<br />
>1<br />
>1<br />
>1<br />
>1<br />
>1<br />
>1<br />
>1<p />

Enjoy the ending. Maybe there will be a sequel. I had enough ideas I could not fit in, but I liked them.